### Pandas replace()

The replace() is a Pandas function used to substitute specified values in a DataFrame or Series with new values.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:\\Users\\abhishek\\Downloads\\Fortune_10.csv')
df

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,NaN,"7,435,363 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,NaN,"916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,NaN,"916,455 Dollars",3005820,NaN
3,4,Mattouch,Health,2013,NaN,"7,429,377 Dollars",6597557,\
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,]
5,6,Techline,Health,2006,"$13,898,119","7,435,363 Dollars",8427816,NaN
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",3005116,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [3]:
## In 3rd coloumn health replace by finance
df.replace(to_replace = 'Health', value = 'Finance')

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,NaN,"7,435,363 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,NaN,"916,455 Dollars",11412916,20%
2,3,Canecorporation,Finance,2012,NaN,"916,455 Dollars",3005820,NaN
3,4,Mattouch,Finance,2013,NaN,"7,429,377 Dollars",6597557,\
4,5,Techdrill,Finance,2009,"$10,573,990","7,435,363 Dollars",3138627,]
5,6,Techline,Finance,2006,"$13,898,119","7,435,363 Dollars",8427816,NaN
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",3005116,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [4]:
df.replace('Health', value = 'Finance')

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,NaN,"7,435,363 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,NaN,"916,455 Dollars",11412916,20%
2,3,Canecorporation,Finance,2012,NaN,"916,455 Dollars",3005820,NaN
3,4,Mattouch,Finance,2013,NaN,"7,429,377 Dollars",6597557,\
4,5,Techdrill,Finance,2009,"$10,573,990","7,435,363 Dollars",3138627,]
5,6,Techline,Finance,2006,"$13,898,119","7,435,363 Dollars",8427816,NaN
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",3005116,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [5]:
df.replace(10,15)  #10 replace by 15

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,NaN,"7,435,363 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,NaN,"916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,NaN,"916,455 Dollars",3005820,NaN
3,4,Mattouch,Health,2013,NaN,"7,429,377 Dollars",6597557,\
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,]
5,6,Techline,Health,2006,"$13,898,119","7,435,363 Dollars",8427816,NaN
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",3005116,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,15,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

### Replacing multiple value at a time

In [6]:
df.replace([1,2,3,4,5,6,7,8,9,10],[11,12,13,14,15,16,17,18,19,20])

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,11,Lamtone,IT Services,2009,NaN,"7,435,363 Dollars",5274553,30%
1,12,Stripfind,Financial Services,2010,NaN,"916,455 Dollars",11412916,20%
2,13,Canecorporation,Health,2012,NaN,"916,455 Dollars",3005820,NaN
3,14,Mattouch,Health,2013,NaN,"7,429,377 Dollars",6597557,\
4,15,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,]
5,16,Techline,Health,2006,"$13,898,119","7,435,363 Dollars",8427816,NaN
6,17,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,18,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",3005116,4%
8,19,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,20,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

### Replace by Using Dictionary

In [7]:
import pandas as pd
df.replace({'COMPANIES': 'Health'},'none')

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,NaN,"7,435,363 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,NaN,"916,455 Dollars",11412916,20%
2,3,Canecorporation,none,2012,NaN,"916,455 Dollars",3005820,NaN
3,4,Mattouch,none,2013,NaN,"7,429,377 Dollars",6597557,\
4,5,Techdrill,none,2009,"$10,573,990","7,435,363 Dollars",3138627,]
5,6,Techline,none,2006,"$13,898,119","7,435,363 Dollars",8427816,NaN
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",3005116,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

### Replace Column Values

In [12]:
df.replace({'COMPANIES': 'Health','Expenses': 7435363 },'none')

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,NaN,"7,435,363 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,NaN,"916,455 Dollars",11412916,20%
2,3,Canecorporation,none,2012,NaN,"916,455 Dollars",3005820,NaN
3,4,Mattouch,none,2013,NaN,"7,429,377 Dollars",6597557,\
4,5,Techdrill,none,2009,"$10,573,990","7,435,363 Dollars",3138627,]
5,6,Techline,none,2006,"$13,898,119","7,435,363 Dollars",8427816,NaN
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",3005116,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

### Regex (Regular Expression)

In [14]:
df.replace('[A-Za-z]', 0)

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,NaN,"7,435,363 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,NaN,"916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,NaN,"916,455 Dollars",3005820,NaN
3,4,Mattouch,Health,2013,NaN,"7,429,377 Dollars",6597557,\
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,]
5,6,Techline,Health,2006,"$13,898,119","7,435,363 Dollars",8427816,NaN
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",3005116,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [16]:
df.replace('[A-Za-z]',0, regex = True)   #string value replaced by zero

C:\Users\abhishek\AppData\Local\Temp\ipykernel_14380\685367594.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('[A-Za-z]',0, regex = True)   #string value replaced by zero

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,0,0,2009,NaN,0,5274553,30%
1,2,0,0,2010,NaN,0,11412916,20%
2,3,0,0,2012,NaN,0,3005820,NaN
3,4,0,0,2013,NaN,0,6597557,\
4,5,0,0,2009,"$10,573,990",0,3138627,]
5,6,0,0,2006,"$13,898,119",0,8427816,NaN
6,7,0,0,2010,"$9,254,614",0,3005116,6%
7,8,0,0,2009,"$9,451,943",0,3005116,4%
8,9,0,0,2011,"$14,001,180",0,11901180,18%
9,10,0,0,2011,"$11,088,336",0,5453060,7%

In [17]:
df.replace({'COMPANIES': '[A-za-z]'}, 0, regex = True)

C:\Users\abhishek\AppData\Local\Temp\ipykernel_14380\1305347318.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace({'COMPANIES': '[A-za-z]'}, 0, regex = True)

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,0,2009,NaN,"7,435,363 Dollars",5274553,30%
1,2,Stripfind,0,2010,NaN,"916,455 Dollars",11412916,20%
2,3,Canecorporation,0,2012,NaN,"916,455 Dollars",3005820,NaN
3,4,Mattouch,0,2013,NaN,"7,429,377 Dollars",6597557,\
4,5,Techdrill,0,2009,"$10,573,990","7,435,363 Dollars",3138627,]
5,6,Techline,0,2006,"$13,898,119","7,435,363 Dollars",8427816,NaN
6,7,Cityace,0,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,0,2009,"$9,451,943","3,878,113 Dollars",3005116,4%
8,9,Ganzlax,0,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,0,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

### Method Parameter (pad,ffill,bfill)

In [19]:
df

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,NaN,"7,435,363 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,NaN,"916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,NaN,"916,455 Dollars",3005820,NaN
3,4,Mattouch,Health,2013,NaN,"7,429,377 Dollars",6597557,\
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,]
5,6,Techline,Health,2006,"$13,898,119","7,435,363 Dollars",8427816,NaN
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",3005116,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [20]:
df.replace('Health', method = 'ffill')

C:\Users\abhishek\AppData\Local\Temp\ipykernel_14380\1671731682.py:1: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  df.replace('Health', method = 'ffill')

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,NaN,"7,435,363 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,NaN,"916,455 Dollars",11412916,20%
2,3,Canecorporation,Financial Services,2012,NaN,"916,455 Dollars",3005820,NaN
3,4,Mattouch,Financial Services,2013,NaN,"7,429,377 Dollars",6597557,\
4,5,Techdrill,Financial Services,2009,"$10,573,990","7,435,363 Dollars",3138627,]
5,6,Techline,Financial Services,2006,"$13,898,119","7,435,363 Dollars",8427816,NaN
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",3005116,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [21]:
df.replace('Health', method = 'bfill')

C:\Users\abhishek\AppData\Local\Temp\ipykernel_14380\331214483.py:1: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  df.replace('Health', method = 'bfill')

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,NaN,"7,435,363 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,NaN,"916,455 Dollars",11412916,20%
2,3,Canecorporation,IT Services,2012,NaN,"916,455 Dollars",3005820,NaN
3,4,Mattouch,IT Services,2013,NaN,"7,429,377 Dollars",6597557,\
4,5,Techdrill,IT Services,2009,"$10,573,990","7,435,363 Dollars",3138627,]
5,6,Techline,IT Services,2006,"$13,898,119","7,435,363 Dollars",8427816,NaN
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",3005116,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

### Limit Parameters

In [25]:
df.replace(3005116, method = 'bfill', limit = 1)   #only 1 value is replaced

C:\Users\abhishek\AppData\Local\Temp\ipykernel_14380\1784744669.py:1: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  df.replace(3005116, method = 'bfill', limit = 1)   #only 1 value is replaced

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,NaN,"7,435,363 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,NaN,"916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,NaN,"916,455 Dollars",3005820,NaN
3,4,Mattouch,Health,2013,NaN,"7,429,377 Dollars",6597557,\
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,]
5,6,Techline,Health,2006,"$13,898,119","7,435,363 Dollars",8427816,NaN
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",11901180,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [24]:
df.replace(3005116, method = 'bfill', limit = 2)

C:\Users\abhishek\AppData\Local\Temp\ipykernel_14380\2221893211.py:1: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  df.replace(3005116, method = 'bfill', limit = 2)

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,NaN,"7,435,363 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,NaN,"916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,NaN,"916,455 Dollars",3005820,NaN
3,4,Mattouch,Health,2013,NaN,"7,429,377 Dollars",6597557,\
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,]
5,6,Techline,Health,2006,"$13,898,119","7,435,363 Dollars",8427816,NaN
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",11901180,6%
7,8,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",11901180,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [26]:
df

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,NaN,"7,435,363 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,NaN,"916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,NaN,"916,455 Dollars",3005820,NaN
3,4,Mattouch,Health,2013,NaN,"7,429,377 Dollars",6597557,\
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,]
5,6,Techline,Health,2006,"$13,898,119","7,435,363 Dollars",8427816,NaN
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",3005116,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

### inplace = true , false

In [27]:
df

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,NaN,"7,435,363 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,NaN,"916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,NaN,"916,455 Dollars",3005820,NaN
3,4,Mattouch,Health,2013,NaN,"7,429,377 Dollars",6597557,\
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,]
5,6,Techline,Health,2006,"$13,898,119","7,435,363 Dollars",8427816,NaN
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",3005116,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [29]:
df.replace(2009,100, inplace = True)
df

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,100,NaN,"7,435,363 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,NaN,"916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,NaN,"916,455 Dollars",3005820,NaN
3,4,Mattouch,Health,2013,NaN,"7,429,377 Dollars",6597557,\
4,5,Techdrill,Health,100,"$10,573,990","7,435,363 Dollars",3138627,]
5,6,Techline,Health,2006,"$13,898,119","7,435,363 Dollars",8427816,NaN
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,not available,100,"$9,451,943","3,878,113 Dollars",3005116,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [30]:
df

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,100,NaN,"7,435,363 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,NaN,"916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,NaN,"916,455 Dollars",3005820,NaN
3,4,Mattouch,Health,2013,NaN,"7,429,377 Dollars",6597557,\
4,5,Techdrill,Health,100,"$10,573,990","7,435,363 Dollars",3138627,]
5,6,Techline,Health,2006,"$13,898,119","7,435,363 Dollars",8427816,NaN
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,not available,100,"$9,451,943","3,878,113 Dollars",3005116,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

Inplace is used to modify data.