## Handling Missing Values in Python

In [1]:
import pandas as pd

In [5]:
 df = pd.read_csv('C:\\Users\\abhishek\\Downloads\\Fortune_10.csv')
 df

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

### NaN (Not a Number)
###### It represents missing or undefined values in a dataset.

In [6]:
 df = pd.read_csv('C:\\Users\\abhishek\\Downloads\\Fortune_10.csv')
 df

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018",NaN,5274553.0,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3,Canecorporation,Health,2012,"$10,597,009",NaN,3005820.0,7%
3,4,Mattouch,NaN,2013,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5,Techdrill,NaN,2009,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6,Techline,NaN,2006,"$13,898,119","5,470,303 Dollars",8427816.0,23%
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8,Kayelectronics,I,2009,"$9,451,943","3,878,113 Dollars",NaN,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180.0,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [9]:
 #N/A Null values replaced by NaN
df = pd.read_csv('C:\\Users\\abhishek\\Downloads\\Fortune_10.csv')
df

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018",NaN,5274553.0,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3,Canecorporation,Health,2012,"$10,597,009",NaN,3005820.0,7%
3,4,Mattouch,NaN,2013,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5,Techdrill,NaN,2009,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6,Techline,NaN,2006,"$13,898,119","5,470,303 Dollars",8427816.0,23%
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8,Kayelectronics,I,2009,"$9,451,943","3,878,113 Dollars",NaN,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180.0,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [15]:

df = pd.read_csv('C:\\Users\\abhishek\\Downloads\\Fortune_10.csv')
df

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018",NaN,5274553.0,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3,Canecorporation,Health,2012,not available,not available,3005820.0,7%
3,4,Mattouch,NaN,2013,not available,"7,429,377 Dollars",6597557.0,26%
4,5,Techdrill,NaN,2009,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6,Techline,NaN,2006,"$13,898,119","5,470,303 Dollars",8427816.0,23%
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",NaN,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180.0,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060.0,7%

#### Not Available is replaced by NAN from above dataset

In [21]:
df = pd.read_csv('C:\\Users\\abhishek\\Downloads\\Fortune_10.csv', na_values = 'not available')
df

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018",NaN,5274553.0,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3,Canecorporation,Health,2012,NaN,NaN,3005820.0,7%
3,4,Mattouch,no values,2013,NaN,"7,429,377 Dollars",6597557.0,26%
4,5,Techdrill,NaN,2009,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6,Techline,NaN,2006,"$13,898,119",no values,8427816.0,23%
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8,Kayelectronics,NaN,2009,"$9,451,943","3,878,113 Dollars",NaN,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180.0,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060.0,7%

#### No values is replaced by NAN from above dataset

In [23]:
df = pd.read_csv('C:\\Users\\abhishek\\Downloads\\Fortune_10.csv', na_values = ['not available', 'no values'])
df

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018",NaN,5274553.0,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3,Canecorporation,Health,2012,NaN,NaN,3005820.0,7%
3,4,Mattouch,NaN,2013,NaN,"7,429,377 Dollars",6597557.0,26%
4,5,Techdrill,NaN,2009,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6,Techline,NaN,2006,"$13,898,119",NaN,8427816.0,23%
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8,Kayelectronics,NaN,2009,"$9,451,943","3,878,113 Dollars",NaN,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180.0,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060.0,7%

#### Specific coloumn NAN values

In [24]:
 df = pd.read_csv('C:\\Users\\abhishek\\Downloads\\Fortune_10.csv')
 df

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018",NaN,5274553.0,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3,Canecorporation,Health,2012,not available,not available,3005820.0,7%
3,4,Mattouch,no values,2013,not available,"7,429,377 Dollars",6597557.0,26%
4,5,Techdrill,NaN,2009,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6,Techline,NaN,2006,"$13,898,119",no values,8427816.0,23%
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",NaN,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180.0,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [32]:
 df = pd.read_csv('C:\\Users\\abhishek\\Downloads\\Fortune_10.csv', na_values = {'COMPANIES': 'no values', 'Profit': 'not available'})
 df

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018",NaN,5274553.0,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3,Canecorporation,Health,2012,not available,not available,3005820.0,7%
3,4,Mattouch,NaN,2013,not available,"7,429,377 Dollars",6597557.0,26%
4,5,Techdrill,NaN,2009,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6,Techline,NaN,2006,"$13,898,119",no values,8427816.0,23%
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",NaN,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180.0,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [33]:
 df = pd.read_csv('C:\\Users\\abhishek\\Downloads\\Fortune_10.csv')
 df

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018",NaN,5274553.0,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3,Canecorporation,Health,2012,not available,not available,3005820.0,7%
3,4,Mattouch,no values,2013,not available,"7,429,377 Dollars",6597557.0,26%
4,5,Techdrill,NaN,2009,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6,Techline,NaN,2006,"$13,898,119",no values,8427816.0,23%
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",NaN,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180.0,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [34]:
 df = pd.read_csv('C:\\Users\\abhishek\\Downloads\\Fortune_10.csv')
 df

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018",NaN,5274553.0,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3,Canecorporation,Health,2012,not available,not available,3005820.0,7%
3,4,Mattouch,NaN,2013,not available,"7,429,377 Dollars",6597557.0,NaN
4,5,Techdrill,NaN,2009,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6,Techline,NaN,2006,"$13,898,119",no values,8427816.0,23%
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",NaN,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180.0,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060.0,7%

In [35]:
 df = pd.read_csv('C:\\Users\\abhishek\\Downloads\\Fortune_10.csv',keep_default_na = False)
 df

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018",null,5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,not available,not available,3005820,7%
3,4,Mattouch,NULL,2013,not available,"7,429,377 Dollars",6597557,NULL
4,5,Techdrill,#N/A,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,#N/A,2006,"$13,898,119",no values,8427816,23%
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",null,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

#### Loading the Dataset and Handling Missing Values

In [37]:
df = pd.read_csv('C:\\Users\\abhishek\\Downloads\\Fortune_10.csv',keep_default_na = True)
df

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018",NaN,5274553.0,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3,Canecorporation,Health,2012,not available,not available,3005820.0,7%
3,4,Mattouch,NaN,2013,not available,"7,429,377 Dollars",6597557.0,NaN
4,5,Techdrill,NaN,2009,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6,Techline,NaN,2006,"$13,898,119",no values,8427816.0,23%
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",NaN,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180.0,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060.0,7%

#### Loading the Dataset Without Detecting Missing Values

In [38]:
df = pd.read_csv('C:\\Users\\abhishek\\Downloads\\Fortune_10.csv', na_filter = False)
df

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018",null,5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,not available,not available,3005820,7%
3,4,Mattouch,Health,2013,not available,"7,429,377 Dollars",6597557,7%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119",no values,8427816,23%
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",null,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%