### Pandas fillna()

In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('C:\\Users\\abhishek\\Downloads\\Fortune_10(1).csv')
df

   ID       Name            Industry     Profit Growth
0   1    Lamtone         IT Services  5274553.0    30%
1   2  Stripfind  Financial Services        NaN    20%
2   3        NaN              Health  3005820.0     7%
3   4        NaN         IT Services  6597557.0    NaN
4   5  Techdrill              Health  3138627.0     8%

In [14]:
# Nan is replacedy by 0
df.fillna(0)

   ID       Name            Industry     Profit Growth
0   1    Lamtone         IT Services  5274553.0    30%
1   2  Stripfind  Financial Services        0.0    20%
2   3          0              Health  3005820.0     7%
3   4          0         IT Services  6597557.0      0
4   5  Techdrill              Health  3138627.0     8%

In [15]:
df.fillna(2)

   ID       Name            Industry     Profit Growth
0   1    Lamtone         IT Services  5274553.0    30%
1   2  Stripfind  Financial Services        2.0    20%
2   3          2              Health  3005820.0     7%
3   4          2         IT Services  6597557.0      2
4   5  Techdrill              Health  3138627.0     8%

In [16]:
df.fillna({'Name': 'none', 'Profit':0,'Growth':0})

   ID       Name            Industry     Profit Growth
0   1    Lamtone         IT Services  5274553.0    30%
1   2  Stripfind  Financial Services        0.0    20%
2   3       none              Health  3005820.0     7%
3   4       none         IT Services  6597557.0      0
4   5  Techdrill              Health  3138627.0     8%

### Method Forward Fill ('ffill')
 It print previous value

In [18]:
df.fillna(method = 'ffill')

C:\Users\abhishek\AppData\Local\Temp\ipykernel_8188\1145651979.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method = 'ffill')

   ID       Name            Industry     Profit Growth
0   1    Lamtone         IT Services  5274553.0    30%
1   2  Stripfind  Financial Services  5274553.0    20%
2   3  Stripfind              Health  3005820.0     7%
3   4  Stripfind         IT Services  6597557.0     7%
4   5  Techdrill              Health  3138627.0     8%

In [19]:
df.fillna(method = 'pad')     ## ffill = pad

C:\Users\abhishek\AppData\Local\Temp\ipykernel_8188\2275225546.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method = 'pad')

   ID       Name            Industry     Profit Growth
0   1    Lamtone         IT Services  5274553.0    30%
1   2  Stripfind  Financial Services  5274553.0    20%
2   3  Stripfind              Health  3005820.0     7%
3   4  Stripfind         IT Services  6597557.0     7%
4   5  Techdrill              Health  3138627.0     8%

### Backward Fill('bfill')

In [21]:
df.fillna(method = 'bfill')

C:\Users\abhishek\AppData\Local\Temp\ipykernel_8188\3673297803.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method = 'bfill')

   ID       Name            Industry     Profit Growth
0   1    Lamtone         IT Services  5274553.0    30%
1   2  Stripfind  Financial Services  3005820.0    20%
2   3  Techdrill              Health  3005820.0     7%
3   4  Techdrill         IT Services  6597557.0     8%
4   5  Techdrill              Health  3138627.0     8%

### Axis

In [23]:
df.fillna(method = 'ffill',axis = 0)

C:\Users\abhishek\AppData\Local\Temp\ipykernel_8188\1592756974.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method = 'ffill',axis = 0)

   ID       Name            Industry     Profit Growth
0   1    Lamtone         IT Services  5274553.0    30%
1   2  Stripfind  Financial Services  5274553.0    20%
2   3  Stripfind              Health  3005820.0     7%
3   4  Stripfind         IT Services  6597557.0     7%
4   5  Techdrill              Health  3138627.0     8%

In [24]:
df.fillna(method = 'bfill',axis = 0)

C:\Users\abhishek\AppData\Local\Temp\ipykernel_8188\2222396528.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method = 'bfill',axis = 0)

   ID       Name            Industry     Profit Growth
0   1    Lamtone         IT Services  5274553.0    30%
1   2  Stripfind  Financial Services  3005820.0    20%
2   3  Techdrill              Health  3005820.0     7%
3   4  Techdrill         IT Services  6597557.0     8%
4   5  Techdrill              Health  3138627.0     8%

In [25]:
df.fillna(method = 'bfill', axis = 1)

C:\Users\abhishek\AppData\Local\Temp\ipykernel_8188\2698027912.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method = 'bfill', axis = 1)

  ID         Name            Industry     Profit Growth
0  1      Lamtone         IT Services  5274553.0    30%
1  2    Stripfind  Financial Services        20%    20%
2  3       Health              Health  3005820.0     7%
3  4  IT Services         IT Services  6597557.0    NaN
4  5    Techdrill              Health  3138627.0     8%

In [28]:
df.fillna(0, limit = 1)
# zero only at 1 place in coloumn

   ID       Name            Industry     Profit Growth
0   1    Lamtone         IT Services  5274553.0    30%
1   2  Stripfind  Financial Services        0.0    20%
2   3          0              Health  3005820.0     7%
3   4        NaN         IT Services  6597557.0      0
4   5  Techdrill              Health  3138627.0     8%

In [29]:
df.fillna(0, limit = 2)

   ID       Name            Industry     Profit Growth
0   1    Lamtone         IT Services  5274553.0    30%
1   2  Stripfind  Financial Services        0.0    20%
2   3          0              Health  3005820.0     7%
3   4          0         IT Services  6597557.0      0
4   5  Techdrill              Health  3138627.0     8%

In [31]:
df.fillna(method ='ffill', limit = 2)

C:\Users\abhishek\AppData\Local\Temp\ipykernel_8188\1707405528.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method ='ffill', limit = 2)

   ID       Name            Industry     Profit Growth
0   1    Lamtone         IT Services  5274553.0    30%
1   2  Stripfind  Financial Services  5274553.0    20%
2   3  Stripfind              Health  3005820.0     7%
3   4  Stripfind         IT Services  6597557.0     7%
4   5  Techdrill              Health  3138627.0     8%

### Filna Inplace

In [32]:
df.fillna(5, inplace = True)
df

   ID       Name            Industry     Profit Growth
0   1    Lamtone         IT Services  5274553.0    30%
1   2  Stripfind  Financial Services        5.0    20%
2   3          5              Health  3005820.0     7%
3   4          5         IT Services  6597557.0      5
4   5  Techdrill              Health  3138627.0     8%

In [33]:
df

   ID       Name            Industry     Profit Growth
0   1    Lamtone         IT Services  5274553.0    30%
1   2  Stripfind  Financial Services        5.0    20%
2   3          5              Health  3005820.0     7%
3   4          5         IT Services  6597557.0      5
4   5  Techdrill              Health  3138627.0     8%