## CSV #Part3

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('C:\\Users\\abhishek\\Downloads\\Fortune_10.csv')
df

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","7,435,363 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","916,455 Dollars",3005820,7%
3,4,Mattouch,Health,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$13,898,119","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$12,98,119","7,435,363 Dollars",8427816,23%
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",3005116,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

#### First Method of PANDAS (Head)

In [ ]:
# Prints first 5  top rows
df.head()

,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
0,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
1,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
2,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
3,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
4,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%

In [ ]:
df.head(1)

,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
0,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%

In [ ]:
df.head(7)

,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
0,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
1,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
2,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
3,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
4,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
5,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
6,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%

#### Tail

In [ ]:
# Prints first 5 bottom rows
df.tail()

,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
4,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
5,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
6,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
7,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
8,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [ ]:
df.tail(3)

,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
6,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
7,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
8,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [ ]:
df.tail(6)

,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
3,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
4,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
5,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
6,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
7,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
8,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

### DATA Type (Changing Data Type)

In [ ]:
df = pd.read_csv('C:\\Users\\abhishek\\Downloads\\Fortune_10.csv', dtype = {'1': 'float64'})
df

,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
0,2.0,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
1,3.0,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
2,4.0,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
3,5.0,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
4,6.0,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
5,7.0,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
6,8.0,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
7,9.0,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
8,10.0,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [ ]:
df = pd.read_csv('C:\\Users\\abhishek\\Downloads\\Fortune_10.csv', dtype = {'1': 'float64','2009':'float64'})
df

,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
0,2.0,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916,20%
1,3.0,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820,7%
2,4.0,Mattouch,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557,26%
3,5.0,Techdrill,Health,2009.0,"$10,573,990","7,435,363 Dollars",3138627,8%
4,6.0,Techline,Health,2006.0,"$13,898,119","5,470,303 Dollars",8427816,23%
5,7.0,Cityace,Health,2010.0,"$9,254,614","6,249,498 Dollars",3005116,6%
6,8.0,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830,4%
7,9.0,Ganzlax,IT Services,2011.0,"$14,001,180",NaN,11901180,18%
8,10.0,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060,7%

In [ ]:
df = pd.read_csv('C:\\Users\\abhishek\\Downloads\\Fortune_10.csv')
df

,ID,Date,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Yes,Lamtone,IT Services,2009,"$11,757,018","7,435,363 Dollars",5274553,30%
1,2,Yes,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Yes,Canecorporation,Health,2012,"$10,597,009","916,455 Dollars",3005820,7%
3,4,Yes,Mattouch,Health,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Yes,Techdrill,Health,2009,"$13,898,119","7,435,363 Dollars",3138627,8%
5,6,Yes,Techline,Health,2006,"$12,98,119","7,435,363 Dollars",8427816,23%
6,7,Yes,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Yes,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",3005116,4%
8,9,Yes,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Yes,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

### True values

In [ ]:
df = pd.read_csv('C:\\Users\\abhishek\\Downloads\\Fortune_10.csv', true_values = ['Yes'])
df

,ID,Date,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,True,Lamtone,IT Services,2009,"$11,757,018","7,435,363 Dollars",5274553,30%
1,2,True,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,True,Canecorporation,Health,2012,"$10,597,009","916,455 Dollars",3005820,7%
3,4,True,Mattouch,Health,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,True,Techdrill,Health,2009,"$13,898,119","7,435,363 Dollars",3138627,8%
5,6,True,Techline,Health,2006,"$12,98,119","7,435,363 Dollars",8427816,23%
6,7,True,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,True,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",3005116,4%
8,9,True,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,True,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

### False values

In [ ]:
df = pd.read_csv('C:\\Users\\abhishek\\Downloads\\Fortune_10.csv')
df

,ID,Date,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Yes,Lamtone,IT Services,2009,"$11,757,018","7,435,363 Dollars",5274553,30%
1,2,No,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,No,Canecorporation,Health,2012,"$10,597,009","916,455 Dollars",3005820,7%
3,4,No,Mattouch,Health,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,No,Techdrill,Health,2009,"$13,898,119","7,435,363 Dollars",3138627,8%
5,6,Yes,Techline,Health,2006,"$12,98,119","7,435,363 Dollars",8427816,23%
6,7,Yes,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Yes,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",3005116,4%
8,9,Yes,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Yes,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [ ]:
df = pd.read_csv('C:\\Users\\abhishek\\Downloads\\Fortune_10.csv', true_values = ['Yes'],false_values=['No'])
df

,ID,Date,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,True,Lamtone,IT Services,2009,"$11,757,018","7,435,363 Dollars",5274553,30%
1,2,False,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,False,Canecorporation,Health,2012,"$10,597,009","916,455 Dollars",3005820,7%
3,4,False,Mattouch,Health,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,False,Techdrill,Health,2009,"$13,898,119","7,435,363 Dollars",3138627,8%
5,6,True,Techline,Health,2006,"$12,98,119","7,435,363 Dollars",8427816,23%
6,7,True,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,True,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",3005116,4%
8,9,True,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,True,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [ ]:
## head(),tail(),dtype,true_values & false_value