## Pandas Series
Pandas Series is a one-dimensional labeled array in Python 
that can hold data of any type such as integers, floats, strings, etc.

In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.3.3'

### Create a list with different data types

In [55]:
list_s = [1, 2, -3, 6.5, 'data values']
print(list_s)

[1, 2, -3, 6.5, 'data values']

### Convert List into Series PANDAS

In [14]:
# 1st column index value  2nd column data values.
series1 = pd.Series(list_s)
print(series1)

0              1
1              2
2             -3
3            6.5
4    data values
dtype: object

### Data type of Pandas Series

In [34]:
type(series1)

pandas.core.series.Series

### Create a Series

In [20]:
series2 = pd.Series([1,2,3,4])
print(series2)

0    1
1    2
2    3
3    4
dtype: int64

In [31]:
### Create a Empty Series
empty_s = pd.Series([])
print(empty_s)

Series([], dtype: object)

### Creating a Pandas Series with Custom Index.

series3 = pd.Series([1,2,3,4], index = ['a','b','c','d'])
print(series3)

### Changing Data Type

series3 = pd.Series([1,2,3,4], index = ['a','b','c','d'], dtype = float, name = 'data values')
print(series3)

### Create Pandas Series using scalar Value

scalar_s = pd.Series(0.8)
print(scalar_s)

In [28]:
scalar_s = pd.Series(0.8, index = [1,2,3])
print(scalar_s)

1    0.8
2    0.8
3    0.8
dtype: float64

### Creating Series from Dictionary

In [35]:
dict_s = pd.Series({'a':1,'b':2})
print(dict_s)

a    1
b    2
dtype: int64

### Creating a Pandas Series with Default Index

In [36]:
s4 = pd.Series([1,2,3,4,5])
print(s4)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [38]:
int(  s4[0]                   )

1

In [39]:
s4[3]

np.int64(4)

### Slicing a Pandas Series

In [40]:
s4[0:3]

0    1
1    2
2    3
dtype: int64

#### Maximum Value of Series

In [45]:
int(      max(s4)  )

5

#### Minimum Value of Series

In [46]:
int(     min(s4)  )

1

In [49]:
s4[s4 > 3]

3    4
4    5
dtype: int64

In [50]:
#series 1
s4

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [53]:
#series 2
s5 = pd.Series([1,2,3,4,5])
print(s5)

0    1
1    2
2    3
3    4
4    5
dtype: int64

### Addition of two Series

In [54]:
# Both series having equal value.
s4 + s5

0     2
1     4
2     6
3     8
4    10
dtype: int64