### Handling missing Value (Part 3)

In [1]:
import pandas as pd

###  Drop the Null Values using Dropna()

In [4]:
df = pd.read_csv('C:\\Users\\abhishek\\Downloads\\Fortune_10.csv')
df

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,NaN,"7,435,363 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,NaN,"916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,NaN,"916,455 Dollars",3005820,NaN
3,4,Mattouch,Health,2013,NaN,"7,429,377 Dollars",6597557,\
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,]
5,6,Techline,Health,2006,"$13,898,119","7,435,363 Dollars",8427816,NaN
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",3005116,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [6]:
# remove Null Nan values 
df.dropna()

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,]
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",3005116,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

#### Drop Null values Column

In [7]:
df.dropna(axis=1)

,ID,Name,COMPANIES,Inception,Expenses,Profit
0,1,Lamtone,IT Services,2009,"7,435,363 Dollars",5274553
1,2,Stripfind,Financial Services,2010,"916,455 Dollars",11412916
2,3,Canecorporation,Health,2012,"916,455 Dollars",3005820
3,4,Mattouch,Health,2013,"7,429,377 Dollars",6597557
4,5,Techdrill,Health,2009,"7,435,363 Dollars",3138627
5,6,Techline,Health,2006,"7,435,363 Dollars",8427816
6,7,Cityace,IT Services,2010,"6,249,498 Dollars",3005116
7,8,Kayelectronics,not available,2009,"3,878,113 Dollars",3005116
8,9,Ganzlax,IT Services,2011,"3,878,153 Dollars",11901180
9,10,Trantraxlax,Government Services,2011,"5,635,276 Dollars",5453060

In [8]:
df.dropna(how='any')

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,]
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",3005116,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [9]:
df.dropna(axis = 1, how = 'any')

,ID,Name,COMPANIES,Inception,Expenses,Profit
0,1,Lamtone,IT Services,2009,"7,435,363 Dollars",5274553
1,2,Stripfind,Financial Services,2010,"916,455 Dollars",11412916
2,3,Canecorporation,Health,2012,"916,455 Dollars",3005820
3,4,Mattouch,Health,2013,"7,429,377 Dollars",6597557
4,5,Techdrill,Health,2009,"7,435,363 Dollars",3138627
5,6,Techline,Health,2006,"7,435,363 Dollars",8427816
6,7,Cityace,IT Services,2010,"6,249,498 Dollars",3005116
7,8,Kayelectronics,not available,2009,"3,878,113 Dollars",3005116
8,9,Ganzlax,IT Services,2011,"3,878,153 Dollars",11901180
9,10,Trantraxlax,Government Services,2011,"5,635,276 Dollars",5453060

In [10]:
df.dropna(how='all')

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,NaN,"7,435,363 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,NaN,"916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,NaN,"916,455 Dollars",3005820,NaN
3,4,Mattouch,Health,2013,NaN,"7,429,377 Dollars",6597557,\
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,]
5,6,Techline,Health,2006,"$13,898,119","7,435,363 Dollars",8427816,NaN
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",3005116,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [13]:
# minimum 1 not null value 
df.dropna(thresh=1)

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,NaN,"7,435,363 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,NaN,"916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,NaN,"916,455 Dollars",3005820,NaN
3,4,Mattouch,Health,2013,NaN,"7,429,377 Dollars",6597557,\
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,]
5,6,Techline,Health,2006,"$13,898,119","7,435,363 Dollars",8427816,NaN
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",3005116,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [18]:
df.dropna(thresh=5)

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,NaN,"7,435,363 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,NaN,"916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,NaN,"916,455 Dollars",3005820,NaN
3,4,Mattouch,Health,2013,NaN,"7,429,377 Dollars",6597557,\
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,]
5,6,Techline,Health,2006,"$13,898,119","7,435,363 Dollars",8427816,NaN
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",3005116,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [26]:
df = df.dropna(subset=['Name'])
df

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,NaN,"7,435,363 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,NaN,"916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,NaN,"916,455 Dollars",3005820,NaN
3,4,Mattouch,Health,2013,NaN,"7,429,377 Dollars",6597557,\
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,]
5,6,Techline,Health,2006,"$13,898,119","7,435,363 Dollars",8427816,NaN
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",3005116,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [31]:
df.dropna(inplace=True)
df

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,]
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",3005116,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

Pandas Parameter is used to remove row , column that is nan,null.