## How to create CSV file #Part 2

In [ ]:
import pandas as pd

In [ ]:
 pd.read_csv('C:\\Users\\abhishek\\Downloads\\Fortune_10.csv')

,0,1,2,3,4,5,6,7
0,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
1,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
2,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
3,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
4,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
5,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
6,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
7,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
8,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
9,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
10,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

### Header

In [ ]:
pd.read_csv('C:\\Users\\abhishek\\Downloads\\Fortune_10.csv',header = 1)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [ ]:
# only name the one coloumn and other coloumn make empty
pd.read_csv('C:\\Users\\abhishek\\Downloads\\Fortune_10.csv')

,Unnamed: 0,Dataaa,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
1,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
2,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
3,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
4,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
5,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
6,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
7,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
8,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
9,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
10,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [ ]:
pd.read_csv('C:\\Users\\abhishek\\Downloads\\Fortune_10.csv',header = 2)

,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
0,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
1,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
2,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
3,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
4,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
5,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
6,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
7,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
8,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [ ]:
pd.read_csv('C:\\Users\\abhishek\\Downloads\\Fortune_10.csv',header = None)

,0,1,2,3,4,5,6,7
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

### Names

In [ ]:
pd.read_csv('C:\\Users\\abhishek\\Downloads\\Fortune_10.csv', names = ['A','B','C','D','E','F','G','H'])

,A,B,C,D,E,F,G,H
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [ ]:
pd.read_csv('C:\\Users\\abhishek\\Downloads\\Fortune_10.csv', names = ['ID','NAMES','INDUSTRY','INCEPTIN','REVENUE','EXPENSES','PROFIT','GROWTH'])

,ID,NAMES,INDUSTRY,INCEPTIN,REVENUE,EXPENSES,PROFIT,GROWTH
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

### Prefix

In [ ]:
import pandas as pd
pd.read_csv('C:\\Users\\abhishek\\Downloads\\Fortune_10.csv')

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,NaN,"7,435,363 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,NaN,"916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,NaN,"916,455 Dollars",3005820,NaN
3,4,Mattouch,Health,2013,NaN,"7,429,377 Dollars",6597557,\
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,]
5,6,Techline,Health,2006,"$13,898,119","7,435,363 Dollars",8427816,NaN
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",3005116,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [ ]:
df = pd.read_csv('C:\\Users\\abhishek\\Downloads\\Fortune_10.csv', header=None)
df = df.add_prefix('Columns_')
df

,Columns_0,Columns_1,Columns_2,Columns_3,Columns_4,Columns_5,Columns_6,Columns_7
0,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
1,1,Lamtone,IT Services,2009,"$11,757,018","7,435,363 Dollars",5274553,30%
2,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
3,3,Canecorporation,Health,2012,"$10,597,009","916,455 Dollars",3005820,7%
4,4,Mattouch,Health,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
5,5,Techdrill,Health,2009,"$13,898,119","7,435,363 Dollars",3138627,8%
6,6,Techline,Health,2006,"$12,98,119","7,435,363 Dollars",8427816,23%
7,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
8,8,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",3005116,4%
9,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
10,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [ ]:
df = pd.read_csv('C:\\Users\\abhishek\\Downloads\\Fortune_10.csv', header=None)
df = df.add_prefix('Columns_')
print(df)

   Columns_0        Columns_1            Columns_2   Columns_3     Columns_4  \
0         ID             Name            COMPANIES   Inception       Revenue
1          1          Lamtone          IT Services        2009   $11,757,018
2          2        Stripfind   Financial Services        2010   $12,329,371
3          3  Canecorporation               Health        2012   $10,597,009
4          4         Mattouch               Health        2013   $14,026,934
5          5        Techdrill               Health        2009  $13,898,119
6          6         Techline               Health        2006   $12,98,119
7          7          Cityace          IT Services        2010   $9,254,614
8          8   Kayelectronics        not available        2009   $9,451,943
9          9          Ganzlax          IT Services        2011  $14,001,180
10        10      Trantraxlax  Government Services        2011  $11,088,336

            Columns_5  Columns_6 Columns_7
0            Expenses     Profit    Growth
1   7,435,363 Dollars    5274553       30%
2     916,455 Dollars   11412916       20%
3     916,455 Dollars    3005820        7%
4   7,429,377 Dollars    6597557       26%
5   7,435,363 Dollars    3138627        8%
6   7,435,363 Dollars    8427816       23%
7   6,249,498 Dollars    3005116        6%
8   3,878,113 Dollars    3005116        4%
9   3,878,153 Dollars   11901180       18%
10  5,635,276 Dollars    5453060        7%

In [ ]:
df = pd.read_csv('C:\\Users\\abhishek\\Downloads\\Fortune_10.csv', header=None)
df = df.add_prefix('Data_')
print(df)

    Data_0           Data_1               Data_2      Data_3        Data_4  \
0       ID             Name            COMPANIES   Inception       Revenue
1        1          Lamtone          IT Services        2009   $11,757,018
2        2        Stripfind   Financial Services        2010   $12,329,371
3        3  Canecorporation               Health        2012   $10,597,009
4        4         Mattouch               Health        2013   $14,026,934
5        5        Techdrill               Health        2009  $13,898,119
6        6         Techline               Health        2006   $12,98,119
7        7          Cityace          IT Services        2010   $9,254,614
8        8   Kayelectronics        not available        2009   $9,451,943
9        9          Ganzlax          IT Services        2011  $14,001,180
10      10      Trantraxlax  Government Services        2011  $11,088,336

               Data_5     Data_6    Data_7
0            Expenses     Profit    Growth
1   7,435,363 Dollars    5274553       30%
2     916,455 Dollars   11412916       20%
3     916,455 Dollars    3005820        7%
4   7,429,377 Dollars    6597557       26%
5   7,435,363 Dollars    3138627        8%
6   7,435,363 Dollars    8427816       23%
7   6,249,498 Dollars    3005116        6%
8   3,878,113 Dollars    3005116        4%
9   3,878,153 Dollars   11901180       18%
10  5,635,276 Dollars    5453060        7%

In [ ]:
df = pd.read_csv('C:\\Users\\abhishek\\Downloads\\Fortune_10.csv', header=None)
df = df.add_prefix('Data_')
df

,Data_0,Data_1,Data_2,Data_3,Data_4,Data_5,Data_6,Data_7
0,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
1,1,Lamtone,IT Services,2009,"$11,757,018","7,435,363 Dollars",5274553,30%
2,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
3,3,Canecorporation,Health,2012,"$10,597,009","916,455 Dollars",3005820,7%
4,4,Mattouch,Health,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
5,5,Techdrill,Health,2009,"$13,898,119","7,435,363 Dollars",3138627,8%
6,6,Techline,Health,2006,"$12,98,119","7,435,363 Dollars",8427816,23%
7,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
8,8,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",3005116,4%
9,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
10,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

### Names Parameters

In [ ]:
df = pd.read_csv(
    'C:\\Users\\abhishek\\Downloads\\Fortune_10.csv',
    header=None,
    names=['a','b','c','d','e','f','g','h'] )
df

,a,b,c,d,e,f,g,h
0,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
1,1,Lamtone,IT Services,2009,"$11,757,018","7,435,363 Dollars",5274553,30%
2,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
3,3,Canecorporation,Health,2012,"$10,597,009","916,455 Dollars",3005820,7%
4,4,Mattouch,Health,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
5,5,Techdrill,Health,2009,"$13,898,119","7,435,363 Dollars",3138627,8%
6,6,Techline,Health,2006,"$12,98,119","7,435,363 Dollars",8427816,23%
7,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
8,8,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",3005116,4%
9,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
10,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [ ]:
df = pd.read_csv('C:\\Users\\abhishek\\Downloads\\Fortune_10.csv',header=None,names=['A','B','C','D','E','F','G','H'])
df

,A,B,C,D,E,F,G,H
0,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
1,1,Lamtone,IT Services,2009,"$11,757,018","7,435,363 Dollars",5274553,30%
2,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
3,3,Canecorporation,Health,2012,"$10,597,009","916,455 Dollars",3005820,7%
4,4,Mattouch,Health,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
5,5,Techdrill,Health,2009,"$13,898,119","7,435,363 Dollars",3138627,8%
6,6,Techline,Health,2006,"$12,98,119","7,435,363 Dollars",8427816,23%
7,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
8,8,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",3005116,4%
9,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
10,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [ ]:
df = pd.read_csv('C:\\Users\\abhishek\\Downloads\\Fortune_10.csv',header=None,names=['ID','Name','COMPANIES','Inception','Revenue','Expenses','Profit','Growth'])
df

,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
0,ID,Name,COMPANIES,Inception,Revenue,Expenses,Profit,Growth
1,1,Lamtone,IT Services,2009,"$11,757,018","7,435,363 Dollars",5274553,30%
2,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
3,3,Canecorporation,Health,2012,"$10,597,009","916,455 Dollars",3005820,7%
4,4,Mattouch,Health,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
5,5,Techdrill,Health,2009,"$13,898,119","7,435,363 Dollars",3138627,8%
6,6,Techline,Health,2006,"$12,98,119","7,435,363 Dollars",8427816,23%
7,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
8,8,Kayelectronics,not available,2009,"$9,451,943","3,878,113 Dollars",3005116,4%
9,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,153 Dollars",11901180,18%
10,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%